//colores ----->

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-white: #ffffff;
$color-black: #000000;
$color-hover: cadetblue;

//Typos ----------------------->

$typo-lato: 'Lato', sans-serif;
$typo-Montserrat:'Montserrat', sans-serif;
$typo-lucida:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;